:root {
    --b0: #fff;
    --w0: #000;
    --b1: #f1f1f1;
    --b2: #343434;
    --p1: #5ea8f7;
    --g1: #121212;
    --element: #5ea8f7;
    /* --b0: #000000;
    --w0: #ffffff;
    --b1: #0e0e0e;
    --b2: #1e1e1e;
    --p1: #6e70fa;
    --g1: #b8b8b8;
    --element: #17EBA0; */

    --gr: 1;
    --gc: 1;
}
  

html {
    overflow-x: hidden;
}

body {
    background-color: var(--b0);
    color: var(--w0);
    font-family: 'Inter', sans-serif;
    padding: 20% 5% 10% 5%;
    overflow-x: hidden;
}


/* back grid */

@keyframes back-loop {
    from {
        top: -35rem;
        left: -40rem;
    }
    to {
        top: calc(-35rem + (sin(30deg)*7.8rem));
        left: calc(-40rem + (cos(30deg)*7.8rem));
    }
}

.back-grid {
    position: fixed;
    top: -35rem;
    left: -40rem;
    display: grid;
    grid-gap: 1.8em;
    z-index: -9999;
    transform: rotate(30deg);
    grid-template-rows: repeat(var(--gr), 1fr);
    grid-template-columns: repeat(var(--gc), 1fr);
    animation: back-loop 8s infinite linear;
    opacity: 0.7;
}

.sq {
    width: 6rem;
    aspect-ratio: 1/1;
    left: 0rem;
    background-color: var(--b1);
}


/* Nmae section */

.name-cont {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
}

.name-head {
    font-size: 2rem;
    font-weight: 700;
    width: 15rem;
    margin-bottom: 5px;
    letter-spacing: 0.1rem;
}

.name-row {
    display: flex
}

.name-sub {
    font-size: 1rem;
    font-weight: 600;
    width: 9rem;
}

.name-accent {
    width: 3.0rem;
    height: 0.7rem;
    margin-top: 0.4rem;
    margin-left: 0.5rem;
    background-color: var(--p1);
}


/* About section */

.about-cont{
    margin-top: 10rem;
}

.about-head{
    font-size: 1.2rem;
    font-weight: 600;
}

.about-text {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
    color: var(--g1);
}

/* HPE LINK */
.about-element:link {
    color: var(--w0);
    font-weight: 600;
    text-decoration: none;
}

.about-element:visited{
    color: var(--w0);
    font-weight: 600;
    text-decoration: none;
}
.about-element:hover {
    color: var(--w0);
    font-weight: 600;
    text-decoration: none;
    opacity: 0.8;
}
.about-element:active {
    color: var(--w0);
    font-weight: 600;
    text-decoration: none;
}


/* Skill section */

.skill-cont {
    margin-top: 7rem;
}

.skill-head {
    font-size: 1.2rem;
    font-weight: 600;
}

.skill-grid {
    margin-top: 1.5rem;
}

.skill-item {
    display: inline-block;
    background-color: #dadada;
    color: var(--p1);
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.4rem 0.7rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}


/* Work section */

.work-cont{
    margin-top: 7rem;
}

.work-head{
    font-size: 1.2rem;
    font-weight: 600;
}

.work-item {
    margin-top: 3rem;
}

.work-date {
    color: var(--g1);
    font-size: 0.8rem;
    font-weight: 400;
}

.work-dot {
    color: var(--p1);
    font-weight: 600;
}

.work-title {
    font-size: 1rem;
    margin-top: 0.5rem;
    font-weight: 600;
}

.work-desc {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
    margin-top: 0.5rem;
    color: var(--g1);
}

.resume-cont {
    margin-top: 7rem;
}

.work-resume:link {
    background-color: var(--p1);
    color: var(--w0);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 0.8rem;
    width: fit-content;
    text-decoration: none;
}
.work-resume:visited {
    background-color: var(--p1);
    color: var(--w0);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 0.8rem;
    width: fit-content;
    text-decoration: none;
}
.work-resume:active {
    background-color: var(--p1);
    color: var(--w0);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 0.8rem;
    width: fit-content;
    text-decoration: none;
}
.work-resume:hover {
    background-color: var(--p1);
    color: var(--w0);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 0.8rem;
    width: fit-content;
    text-decoration: none;
    opacity: 0.8;
}

/* Project section */

.project-cont{
    margin-top: 7rem;
}


/* contact section */

.contact-cont {
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
}

.icon-link:link {
    color: var(--w0);
    font-size: 1.6rem;
    text-decoration: none;
    margin-right: 1.4rem;
}

.icon-link:visited{
    color: var(--w0);
    font-size: 1.6rem;
    text-decoration: none;
}
.icon-link:hover {
    color: var(--w0);
    font-size: 1.6rem;
    text-decoration: none;
    opacity: 0.8;
}
.icon-link:active {
    color: var(--w0);
    font-size: 1.6rem;
    text-decoration: none;
}


/* Tab media query */
@media only screen and (min-width: 600px ) {
    body {
      background-color: var(--b0);
    }
  }

/* Desktop size */
@media only screen and (min-width: 900px) {
    body {
      background-color: var(--b0);
      padding: 0% 20% ;

    }
  }

