:root {
    --b0: #000000;
    --w0: #ffffff;
    --b1: #0a0a0a;
    --b2: #1e1e1e;
    --p1: #f04848;
    --element: #17EBA0;

    --gr: 1;
    --gc: 1;
}
  

body {
    background-color: var(--b0);
    color: var(--w0);
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
    margin: 20% 10%;
}


/* back grid */

.back-grid {
    position: absolute;
    top: -20rem;
    left: -4rem;
    display: grid;
    grid-gap: 1.4em;
    z-index: -9999;
    transform: rotate(30deg);
    grid-template-rows: repeat(var(--gr), 1fr);
    grid-template-columns: repeat(var(--gc), 1fr);
}

.sq {
    width: 4rem;
    aspect-ratio: 1/1;
    background-color: var(--b1);
}

.name-cont {
    margin-top: 15rem;
    display: flex;
    flex-direction: column;
}

.name-head {
    font-size: 2rem;
    font-weight: 700;
    width: 15rem;
    margin-bottom: 5px;
}

.name-row {
    display: flex
}

.name-sub {
    font-size: 0.8rem;
    font-weight: 500;
    width: 8rem;
}

.name-accent {
    width: 4.4rem;
    height: 0.9rem;
    background-color: var(--p1);
}


.about-cont{
    margin-top: 15rem;
}

.about-head{
    font-size: 1.2rem;
    font-weight: 600;
}

.about-text {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.6rem;
    opacity: 0.8;
}

/* HPE LINK */
.about-element:link {
    color: var(--element);
    font-weight: 600;
    text-decoration: none;
}

.about-element:visited{
    color: var(--element);
    font-weight: 600;
    text-decoration: none;
}
.about-element:hover {
    color: var(--element);
    font-weight: 600;
    text-decoration: none;
    opacity: 0.8;
}
.about-element:active {
    color: var(--element);
    font-weight: 600;
    text-decoration: none;
}



/* Tab media query */
@media only screen and (min-width: 600px ) {
    body {
      background-color: red;
    }
  }

/* Desktop size */
@media only screen and (min-width: 900px) {
    body {
      background-color: var(--b0);
    }
  }

