:root {
    /* --b0: #fff;
    --w0: #000;
    --b1: #f1f1f1;
    --b2: #dadada;
    --p1: #6e70fa;
    --g1: #121212; */

    --b0: #000000;
    --w0: #ffffff;
    --b1: #0e0e0e;
    --b2: #1e1e1e;
    --p1: #6e70fa;
    --g1: #b8b8b8;

    --gr: 1;
    --gc: 1;
}


html {
    /* overflow-x: hidden; */
    scroll-behavior: smooth;
}

body {
    background-color: var(--b0);
    color: var(--w0);
    font-family: 'Inter', sans-serif;
    padding: 20% 5% 10% 5%;
    /* overflow-x: hidden; */
    display: flex;
    flex-direction: column;
}

.lum-mode {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 15px;
    right: 15px;
    color: var(--g1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 0.8;
    cursor: pointer;
    background-color: var(--w0);
    outline: 2px solid var(--w0);
    outline-offset: 3px;
    opacity: 0.4;
    transition: 0.1s linear;
}

.lum-mode:hover{
    opacity: 0.6;
    outline-offset: 5px;
    transition: 0.1s linear;
}

/* navbar */
.navbar {
    display: none;
}

/* back grid */

@keyframes back-loop {
    from {
        top: -35rem;
        left: -20rem;
    }

    to {
        top: calc(-35rem + (sin(30deg)*7.8rem));
        left: calc(-20rem + (cos(30deg)*7.8rem));
    }
}

.back-grid {
    position: fixed;
    top: -35rem;
    left: -40rem;
    display: grid;
    grid-gap: 1.8rem;
    z-index: -9999;
    transform: rotate(30deg);
    grid-template-rows: repeat(var(--gr), 1fr);
    grid-template-columns: repeat(var(--gc), 1fr);
    animation: back-loop 8s infinite linear;
    opacity: 0.7;
}

.sq {
    width: 6rem;
    aspect-ratio: 1/1;
    left: 0rem;
    background-color: var(--b1);
}

.fade-grid {
    display: none;
}

.desk-contact {
    display: none;
}


/* Nmae section */

.name-cont {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
}

.name-head {
    font-size: 2rem;
    font-weight: 700;
    width: 15rem;
    margin-bottom: 5px;
    letter-spacing: 0.1rem;
}

.name-row {
    display: flex;
}

.name-sub {
    font-size: 1rem;
    font-weight: 600;
    width: 9rem;
}

.name-accent {
    width: 3.0rem;
    height: 0.7rem;
    margin-top: 0.4rem;
    margin-left: 0.5rem;
    background-color: var(--p1);
}


/* About section */

.about-cont {
    padding-top: 10rem;
}

.about-head {
    font-size: 1.2rem;
    font-weight: 600;
}

.about-text {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    color: var(--g1);
}

/* HPE LINK */
.about-element:link {
    color: var(--w0);
    font-weight: 600;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
}

.about-element:visited {
    color: var(--w0);
    font-weight: 600;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
}

.about-element:hover {
    color: var(--w0);
    font-weight: 600;
    text-decoration: none;
    opacity: 0.8;
    outline: none;
    border: none;
    box-shadow: none;
}

.about-element:active {
    color: var(--w0);
    font-weight: 600;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
}


/* Skill section */

.skill-cont {
    padding-top: 7rem;
}

.skill-head {
    font-size: 1.2rem;
    font-weight: 600;
}

.skill-grid {
    margin-top: 1.5rem;
}

.skill-item {
    display: inline-block;
    background-color: var(--b2);
    color: var(--p1);
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.4rem 0.7rem;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}


/* Work section */

.work-cont {
    padding-top: 7rem;
}

.work-head {
    font-size: 1.2rem;
    font-weight: 600;

}

.work-item {
    margin-top: 3rem;
}

.work-date {
    color: var(--g1);
    font-size: 0.8rem;
    font-weight: 400;
}

.work-dot {
    color: var(--p1);
    font-weight: 600;
}

.work-title {
    font-size: 1rem;
    margin-top: 0.5rem;
    font-weight: 600;
}

.work-desc {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6rem;
    margin-top: 0.5rem;
    color: var(--g1);
}

.resume-cont {
    margin-top: 4rem;
}

.work-resume:link {
    background-color: var(--p1);
    color: var(--w0);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 0.8rem;
    width: fit-content;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
}

.work-resume:visited {
    background-color: var(--p1);
    color: var(--w0);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 0.8rem;
    width: fit-content;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
}

.work-resume:active {
    background-color: var(--p1);
    color: var(--w0);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 0.8rem;
    width: fit-content;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
}

.work-resume:hover {
    background-color: var(--p1);
    color: var(--w0);
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem 0.8rem;
    width: fit-content;
    text-decoration: none;
    opacity: 0.8;
    outline: none;
    border: none;
    box-shadow: none;
}

/* Project section */

.project-cont {
    padding-top: 7rem;
}


/* contact section */

.contact-cont {
    padding-top: 0rem;
    display: flex;
    flex-direction: row;
}

.icon-link:link {
    color: var(--w0);
    font-size: 1.6rem;
    text-decoration: none;
    margin-right: 1.4rem;
    outline: none;
    border: none;
    box-shadow: none;
}

.icon-link:visited {
    color: var(--w0);
    font-size: 1.6rem;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
}

.icon-link:hover {
    color: var(--w0);
    font-size: 1.6rem;
    text-decoration: none;
    opacity: 0.8;
    outline: none;
    border: none;
    box-shadow: none;
}

.icon-link:active {
    color: var(--w0);
    font-size: 1.6rem;
    text-decoration: none;
    outline: none;
    border: none;
    box-shadow: none;
}


/* Tab media query */
@media only screen and (min-width: 770px) {


    body {
        background-color: var(--b0);
        display: flex;
        flex-direction: row;
        /* position: relative; */
        justify-content: center;
        padding: 5% 0%;

    }

    .main-dir {
        width: 60vw; 
        display: flex; 
        flex-direction: row; 
        position: relative;
    }

    /* header {
        
    } */

    .header-section {
        height: 70vh;
        position: sticky;
        top: 1rem;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }

    main {
        width: 50%;
    }


    .navbar {
        display: flex;
        flex-direction: column;
        margin-top: 5rem;
    }

    .nav-item {
        margin: 0.8rem 0rem;
        display: flex;
        flex-direction: row;
        cursor: pointer;
    }

    .nav-accent {
        width: 3rem;
        height: 0.12rem;
        background-color: var(--w0);
        margin-top: 0.5rem;
        transition: 0.1s linear;
    }

    .nav-text {
        margin-left: 1rem;
        font-size: 0.8rem;
        letter-spacing: 0.1rem;
        font-weight: 600;

    }

    .nav-link:link {
        text-decoration: none;
        color: var(--w0);
        opacity: 0.5;
        outline: none;
        border: none;
        box-shadow: none;
    }

    .nav-link:hover {
        opacity: 1;
        color: var(--w0);
        text-decoration: none;
        outline: none;
        border: none;
        box-shadow: none;

        .nav-accent {
            width: 5rem;
            transition: 0.1s linear;
        }
    }

    .nav-link:active {
        outline: none;
        border: none;
        box-shadow: none;
        color: var(--w0);
        text-decoration: none;
        opacity: 1;
    }

    .nav-link:visited {
        outline: none;
        border: none;
        box-shadow: none;
        color: var(--w0);
        text-decoration: none;
        opacity: 0.5;
    }


    .nav-link-active:link {
        text-decoration: none;
        outline: none;
        border: none;
        box-shadow: none;
        color: var(--w0);
        opacity: 1;

        .nav-accent {
            width: 5rem;
            transition: 0.1s linear;
        }
    }

    .nav-link-active:hover {
        outline: none;
        border: none;
        box-shadow: none;
        opacity: 1;
        color: var(--w0);
        text-decoration: none;

        .nav-accent {
            width: 5rem;
            transition: 0.1s linear;
        }
    }

    .nav-link-active:active {
        outline: none;
        border: none;
        box-shadow: none;
        color: var(--w0);
        text-decoration: none;
        opacity: 1;

        .nav-accent {
            width: 5rem;
            transition: 0.1s linear;
        }
    }

    .nav-link-active:visited {
        outline: none;
        border: none;
        box-shadow: none;
        color: var(--w0);
        text-decoration: none;
        opacity: 1;

        .nav-accent {
            width: 5rem;
            transition: 0.1s linear;
        }
    }

    /* back grid */

    @keyframes back-loop {
        from {
            top: -20rem;
            left: 15rem;
        }

        to {
            top: calc(-20rem + (sin(30deg)*7.8rem));
            left: calc(15rem + (cos(30deg)*7.8rem));
        }
    }

    .back-grid {
        gap: 1.8rem;
        top: -20rem;
        left: 15rem;
    }

    .sq {
        width: 6rem;
    }

    .fade-grid {
        display: flex;
        position: fixed;
        z-index: -9998;
        box-shadow: 0 0 200px 200px var(--b0);
        background-color: var(--b0);
        transform: rotate(10deg);
        width: 80vw;
        top: -50vh;
        left: -35vw;
        height: 200vh;
    }


    .name-cont {
        padding-top: 5rem;
    }

    .name-head {
        font-size: 3rem;
        width: 20rem;
        /* background-color: red; */
    }

    .name-row {
        margin-top: 0.5rem;
    }

    .name-sub {
        font-size: 1.2rem;
        width: 12rem;
        /* margin-top: rem; */
    }

    .name-accent {
        width: 6.2rem;
        margin-left: 0rem;
        height: 1rem;
        /* margin-top: 0.8rem; */
    }

    .about-cont {
        padding-top: 5rem;

    }


    /* contact-container-end */

    .contact-cont {
        display: none;
        padding-top: 0rem;
    }

    .desk-contact {
        display: flex;
        /* position: absolute; */
        /* bottom: 0; */
        bottom: 0rem;
    }
}

/* Desktop size */
@media only screen and (min-width: 900px) {
    body {
        background-color: var(--b0);
        padding: 0% 20%;

    }
}